*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(8, 99, 102, 0.39);
    font-family: 'Courier New', Courier, monospace  ;
}

h1 {
    text-align: center;
    margin: 0.5rem 0 2rem 0;
}

label {
    font-weight: bold;
}

input {
    width: 50%;
    height: 25px;
    border-radius: 5px;
    border: none;
    margin: 0.5rem auto;

}

.introduction {
    text-align: center;
    padding: 2rem;
    margin: 1rem 0;
}

.introduction p {
    background-color: white;
    padding: 1rem;
    border: 1px solid ;
}

.gamePreparation {
    text-align: center;
    margin: 1rem;
}

.userInputs {
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 1rem;
}



.contestantName,
.contestantPersonality {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;

}


#addContestant {
    width: 40%;
    margin: 1rem auto;
    border-radius: 20px;
    border: 1px solid aqua;
}

#startGame {
    width: 40%;
    margin: 2rem auto;
    border-radius: 20px;
    border: 1px solid aqua;
    text-align: center;
}

.participantList {
    border: 1px solid blue;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    width: 80%;
    margin: 1rem auto;
    text-align: center;
}

.participantList h2{
    text-align: center;
    grid-column: span 2;
    margin: 1rem;
}

.participantList p {
    margin: 0.2rem;
    border: 1px solid blueviolet;
    padding: 0.2rem;
}

#appearingOnEvent {
    visibility: hidden;
}